/* twitter color is: #1DA1F2 */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 5rem;
    background-color: whitesmoke;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.score {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: medium;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 1rem;
    width: 20rem;
}

.scorebar-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.scorebar-element-left {
    display: flex;
    justify-content: flex-end;
    border-right: black 1px solid;
    width: 50%;
    padding: 0.5rem 0;
}

.scorebar-element-right {
    display: flex;
    justify-content: flex-start;
    border-left: black 1px solid;
    width: 50%;
    padding: 0.5rem 0;
}


.scorebar {
    height: 1rem;
    background-color: #1DA1F2;
    transition: width 0.8 ease, background-color 0.8 ease;
    -webkit-transition: width 0.8s ease, background-color 0.8s ease;
    -o-transition: width 0.8 ease, background-color 0.8 ease;
}

.tweet-compose {
    position: relative;
    width: 100%;
    max-width: 50rem;
    height: 100%;
    border-radius: 1.5rem;
    font-size: 16px;
    background-color: white;
}

.compose-header {
    border-bottom: #1DA1F2 1px solid;
    padding: 0.8rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: large;
}

.compose-body {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    width: 90%;
    height: 10rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.compose-footer {
    padding: 0.8rem 1.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #aaa;
}


.tweet-button {
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #1DA1F2;
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 1.2rem;
    margin: 0 0 0 0.8rem;
}